.image-thumb-children {
    .image-thumber {
        $width : 60px;
        $height: 60px;

        .play-button {
            position        : absolute;
            /* width        : 100%; */
            top             : calc(100% / 2 - #{$height/2});
            /* z-index      : 5000; */
            width           : $width;
            height          : $height;
            background-color: black;
            opacity         : 0.5;
            left            : calc(100% / 2 - #{$width/2});
            border-radius   : $width / 2;

            i {
                font-size  : 32px;
                color      : white;
                margin-top : 10px;
                margin-left: 6px;
            }
        }
    }
}