.image-manager {
    z-index: 800;

    .modal-body {
        .col-xs-2 {
            margin-top   : 6px;
            margin-bottom: 6px;
        }

        clear  : both;
        display: table;
        width  : 100%;
    }

    .modal-footer {
        .pagination {
            margin: 0;
        }
    }

    .modal-header {
        h4 {
            margin: 0;
        }
    }

    .image-thumber {
        margin  : 10px;
        float   : left;
        position: relative;
        height  : 120px;
        width   : 120px;
        cursor  : pointer;
    }

    .image-upload {
        margin: 10px;
        float : left;
    }

    i {
        margin-right: 5px;
    }
}